* {
	box-sizing:
		border-box;;
}

/*audio {
	display: none;
}*/

body {
	background-color: rgb(254, 232, 35);
	font-family: Calibri;
}

.bodyBackImage {
	background: url("images/main background golden.svg");
	background-repeat: repeat-y;
	width: 100%;
}
.container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 5% 2% 2% auto;
	grid-template-areas: 
		'mainhead'
		'navbar'
		'textsearch'
		'mainbody'
		;
	justify-content: center;
}

#mainhead { 
	grid-area: mainhead;
	background-image: url("images/headerbackground4.svg");
	/*background-color: rgb(83, 139, 242);*/
	color: #fffe3f;
	font-size: 70px;
	margin-top: 1%;
	margin-bottom:1%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left:2%;
	text-align: left;
}
#mainhead a {
	text-decoration:none;
	color: white;
	/*background-color: #52a5f1;
	padding-right: 10px;
	padding-left: 10px;*/
	-webkit-text-stroke: 2px black;
}

.navbar {
	grid-area: navbar;
	background-color: rgb(254, 241, 129);
}
.navbar a {
	padding: 1% 5% 1% 5%;
	font-size: 2vw;
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
	display: inline-block;
}
.navbar a:hover {
	background-color: rgb(255,255,206);
}

.mainbody {
	grid-area: mainbody;
	display: grid;

	grid-template-columns: 100% /*70% 30%*/;
	grid-template-rows: auto;
	grid-template-areas:
		'maintexts' /*sidebar*/;
	
}


.maintexts {
	padding-left: 2%;
	background-color: rgb(254, 232, 35);
	height: 100vh;/*entire length of page*/
}

.maintextsleft {
	background-image: url("images/main background golden.svg");
	background-size: 100%;
	background-position: 0 100px;
	color: black;
	z-index: 2;
}

.maintextsleft span{
	background-color: rgb(254, 232, 35);
}

.maintextsmiddle {
	display: block;
	background-color: rgb(254, 232, 35);
}

.maintextsright {
	background-color: rgb(254, 232, 35);
}

.maintextsmiddle a {
	text-decoration: none;
}

.maintextsmiddle a:hover {
	background-color: rgb(255,255,206);
}

.slideImage {
	display: none;
	z-index: 1;
}
.gallery {
	position: relative;
}
.prev, .next {
	opacity: 0;
}
.prev {
	float: left;
	}
.gallery img {
	width: 100%;
}

.maintexts a {
	display: block;
}
.maintexts h3 {
	display: block;
}
.maintextsright img {
	width: 16vw;
	height: 16vw;

}
#comments {
	width: 100%;
}


#search input {
	grid-area: textsearch;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 20px;
	width: 100%;
}
#search input[type=text] {
	padding-left: 10px;
	font-size: 100%;
}

#sidebar {
	grid-area: sidebar;
	background-color: rgb(254, 232, 35);
	width: 100%;
	height: auto;
}

#mascot {
	display: block;
	width:85%;
	margin-top: 5%;
	margin-left: 8%;
}

.links a {
	display: flex;
	flex-direction: column;
	font-size: 15pt;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
}
.links a:hover {
	background-color: rgb(255,255,206);
}
.links h2 {
	padding-bottom: 4%;
	padding-left: 4%;
}

