* {
	/*user-select:none;*/
}
body {
	/*cursor: url('images/mobile-suit-gundam-filled.png'), auto;*/
}


.buttons button {
		border: none;
		text-decoration: none;
		display: inline-block;
		padding: 1% 2% 1% 2%;
		font-size: 1em;
		 
	}
	#stylish3 {
		background: url("images/goldenback.jpg");
		border: none;
		color: black;
	}
	#stylish3 span {
		background-color: #fde722;
	}
	#stylish2 {
		background-color: #0e0c56;
		border: none;
		color: white;
	}
	#stylish1 {
		background-color: #52a5f1;
		border: 1px solid #fffd00;
		color: #fffd00;
	}
	.mediaGrid {
		width: 100%;
		height: 50vh;
		display: grid;
		grid-template-columns: 
			1fr 1fr;
		grid-template-rows:
			auto;
		grid-template-areas:
			'content content';
	}
	#anime {
		background-image: url("images/kizunaiDesu.jpg");
	}
	#anime a {
		cursor: url("images/mobile-suit-gundam-filled.png"), auto;
	}
	#munday {
		background-image: url("images/un.jpg");	
	}
	#munday a {
		cursor: url("images/mun-icon.png"), auto;
	}
	#wyns {
		background-image: url("images/steveHarvey.jpg");
	}
	#wyns a {
		cursor: url("images/steveHarveyIcon.png"), auto;
	}
	#cheese {
		background-image: url("images/chess.png");
	}
	#cheese a {
		cursor: url("images/deepBlue.png"), auto;
	}
	.imageButton a {
		height: 100%;
	}
	.imageButton a:hover {
		background-color: rgb(0,0,0,0);
	}
	
@media only screen and (min-width: 480px) {	
	/*.mainbody {
	display; block
	}*/
	
	
	.maintexts {
	padding-left: 0;
	display: grid;
	grid-template-columns:
		10% 50% 20% 20%;
	grid-template-rows: auto;
	grid-template-areas:
		'maintextsleft maintextsmiddle maintextsright sidebar';/*moved sidebar under maintexts*/

	background-color: white;
	height: 100vh;
	}
	
	.maintextsleft{
		grid-area: maintextsleft;
		font-size: 1vw;
		white-space: nowrap;
	}
	.maintextsleft h1 {
		padding-left: 8%;
		word-wrap: initial;
	}
	.maintextsmiddle {
		grid-area: maintextsmiddle;
		float: left;
		font-size: 2vw;
		padding-right: 2px;
	}
	.maintextsmiddle p {
	}
	.maintexts a {
		display: block;
	}
	.maintexts h3 {
		font-size: 2vw;	
		display: block;
	}
	.maintextsright {
		grid-area: maintextsright;
	}
	.dropdown {
		display: none;
	}
	.gallery {
		width: 160%;
	}
	.prev, .next {
		position: relative;
		margin-top: -57%;
		z-index: 2;
		width: 50%;
		padding-bottom: 53%;
	}
	.next {
		float: right;
	}
	.content {
		width: 100%;
		height:  100%;
	}
}

@media only screen and (max-width: 480px) {
	.mainstexts {
		height: 100%;
	}
	#stylish2 {
		background-color: #0e0c56;
		border: none;
		color: white;
		text-decoration: none;
		display: inline-block;
		padding: 1% 2% 1% 2%;
		font-size: 1em;
	}
	#stylish1 {
		background-color: #52a5f1;
		border: 1px solid #fffd00;
		color: #fffd00;
		text-decoration: none;
		display: inline-block;
		padding: 1% 2% 1% 2%;
		font-size: 1em;
	}
	.prev, .next {
		position: relative;
		margin-top: -56%;
		padding-bottom: 49%;
		width: 50%;
	}
	.next {
		float: right;
	}
	
	#mainhead a{
		font-size: 19vw;
	}
	.music {
		display: flex;
		justify-content: space-betwen;
		flex-direction: column;
	}
	.navbar a {
		display: flex;
		flex-flow: column nowrap;
		font-size: 7vw;
		padding: 1% 7% 1% 7%;
	}
	#search input {
		margin-top: 1%;
		border-radius: 0;
		align-content: center;
		height: 10vw;
	}
	.maintexts {
		float: left;	
	}
	.maintexts h1 {
		font-size: 9vw;
	}
	.maintexts p, h2, h4 {
		font-size: 6vw;
		display: block;
	}
	.maintexts img {
		display: block;
		width: 70%;
		height: 70%;
	}
	#sidebar {
		display: block;
		width: 100%;
	}
	.links a {
		font-size: 6vw;
		padding-top: 3%;
		padding-bottom: 3%;
	}
	#mascot {
		width: 90%;
	}
	.gallery {
		width: 98%;
	}
	.gallery img {
		width: 100%;
	}
}

/*@media only screen and (max-width: 600px) {
	.dropbutton {
		background-color: black;
		color: white;
	}
	.mainhead {
		position: relative;
		display: inline-block;
	}
	.navbar {
		display: none;
		position: absolute;
		background-color: red;
		min-width: 50%;
		z-index: 1;
	}
	.navbar a {
		color: yellow;
		text-decoration: none;
		display: block;
	}
	.mainhead:hover .navbar {
		display: block;
	}
}*/